# Service Identification
SERVICE_NAME=auth-service

# General
JWT_SECRET=generate_a_random_secret_here
INTERNAL_API_KEY=your_internal_key
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

# Postgres
POSTGRES_DB=hospital
POSTGRES_USER=admin
POSTGRES_PASSWORD=

# RabbitMQ
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:8001/auth/github/callback

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8001/auth/google/callback